{% extends "layout.html" %}

{% block title %}
    Buy Stocks
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Shares" type="number" min="0" step="1" id="shares" required>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
    <p class="h6" style="padding-top: 20px;">
      Need a list of symbols? Click
      <a href="http://eoddata.com/symbols.aspx">here</a>
    </p>
    <script>
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>
{% endblock %}
