{% extends "main.html" %}

{% block title %}
    Credits
{% endblock %}

{% block main %}
    <div class="row mt-5 justify-content-center">
        <div class="col-9">
            <h1 class="text-center mb-5 display-2">Credits:</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Website and algorithm made by Patryk Dluzynski</li>
                <li class="list-group-item">Information on machine learning algorithms taken from <a href="https://www.youtube.com/user/sentdex">Sentdex</a></li>
                <li class="list-group-item">Algorithm made with <a href="https://www.tensorflow.org/">Tensorflow</a> and <a href="https://keras.io/">Keras</a></li>
                <li class="list-group-item">Website made with <a href="https://getbootstrap.com/">Bootstrap</a> and <a href="https://palletsprojects.com/p/flask/">Flask</a></li>
                <li class="list-group-item">Made for <a href="https://www.edx.org/course/cs50s-introduction-to-computer-science">CS50</a> computer science course</li>
            </ul>
        </div>
    </div>
{% endblock %}